<header class="head">
    <div class="filtreHeader">
        <div class="logo">
            <img class="logochild" src="{{ asset("img/logo1.jpg") }}" alt="golf gilles arnaud professeur enseignement"/>
        </div>
        <nav class="items">
            <ul class="navContainer">
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Cours</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Planning</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Tutos</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Actualité</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Gallerie</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Utilisateur</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Contact</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> CE</a></li>
            </ul>
        </nav>
        <div class="titleHeader">
            <div><h1>Gilles ARNAUD enseignement</h1> </div>
            <div><h2>Professeur de golf indépendant</h2> </div>
        </div>
        <div class="headerBottom">
            <p class="headerBottomP">Coach je suis</p>
        </div>
    </div>
</header>