<header class="headLittle">
    <div class="filtreHeader">
        <nav class="itemsLittle">
            <div class="logoLittle">
                <img class="logochildLittle" src="{{ asset("img/logo1.jpg") }}" alt="golf gilles arnaud professeur enseignement"/>
            </div>
            <ul class="navContainer">
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Cours</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Planning</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Tutos</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Actualité</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Gallerie</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Utilisateur</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> Contact</a></li>
                <li class="nav"><a href="{{ path('home') }}"><i class="fas fa-golf-ball"></i> CE</a></li>
            </ul>
        </nav>
    </div>
</header>